{% extends 'index.html' %}

{% block content %}

<div class="text m-3">
    <a href="{% url 'product_list' %}" style="text-decoration: none; color: #6e6e6e;"><b> Dashboard</b></a>
     / 
    <span style="color: #39a5b8;"><b>Wishlist</b></span>
</div>

<div class="container my-5">
    <h3>Your Wishlist</h3>

    <div class="row">
        {% for item in wishlist_items %}
        <div class="col-md-3 mb-4">
            <div class="card p-2 h-100">

                <!-- Remove from wishlist -->
                <a href="{% url 'toggle_wishlist' item.product.id %}"
                   class="btn btn-sm text-danger text-end">
                   ✕
                </a>

                <!-- Product Image -->
                <img src="{{ item.product.image.url }}"
                     style="height:150px; object-fit:contain;">

                <!-- Product Info -->
                <h6 class="mt-2">{{ item.product.name }}</h6>
                <p>৳ {{ item.product.product_price }}</p>

                <!-- Buttons -->
                <div class="d-flex justify-content-between gap-2 mt-auto">

                    <a href="{% url 'product_detail' item.product.id %}"
                       class="btn btn-sm btn-outline-dark w-50">
                       View
                    </a>

                    <button class="btn btn-sm btn-primary add-to-cart w-50"
                            data-id="{{ item.product.id }}"
                            data-url="{% url 'add_to_cart' item.product.id %}">
                        Add
                    </button>

                </div>
            </div>
        </div>
        {% empty %}
        <p>Your wishlist is empty.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}