
{% load static %}

<style>
    .rotate-icon {
        transition: transform 0.3s ease;
    }

    /* Rotate icon when aria-expanded=true */
    a[aria-expanded="true"] .rotate-icon {
        transform: rotate(180deg);
    }
</style>

<div class="sidebar" id="sidebar">
    <ul class="nav flex-column">
        <div class="brand">
            <a href="#">
                <i class="bi bi-cart4"></i>
                <span class="menu-text">e-commerce</span>
            </a>
        </div>

        <div class="search-box">
            <input type="text" placeholder="Search...">
        </div>

        <a href="{% url 'admin_dashboard' %}">
            <i class="bi bi-speedometer2"></i>
            <span class="menu-text">Dashboard</span>
        </a>



        <a href="{% url 'admin_order_list' %}">
            <i class="bi bi-cart"></i>
            <span class="menu-text">Orders</span>
        </a>
        
        {% with request.resolver_match.url_name as url_name %}
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-between align-items-center
                {% if url_name in 'purchase_create purchase_list purchase_return' %} active bg-primary {% endif %}" 
                data-bs-toggle="collapse" 
                href="#purchaseMenu" 
                aria-expanded="{% if url_name in 'purchase_create purchase_list purchase_return' %}true{% else %}false{% endif %}">
                
                <!-- Left Side (Icon + Text) -->
                <div class="d-flex align-items-center">
                    <i class="bi bi-bar-chart me-2"></i>
                    <span class="menu-text">Purchase</span>
                </div>

                <!-- Right Side Chevron -->
                <i class="bi bi-chevron-down rotate-icon"></i>
            </a>

            <div class="collapse {% if url_name in 'purchase_create purchase_list purchase_return' %}show{% endif %}" id="purchaseMenu">
                <ul class="nav flex-column bg-dark ms-3">
                    <li>
                        <a class="nav-link {% if url_name == 'purchase_list' %}active text-info{% endif %}" 
                        href="{% url 'purchase_list' %}">
                            Purchase List
                        </a>
                    </li> 
                    <li>
                        <a class="nav-link {% if url_name == 'purchase_return' %}active text-info{% endif %}" 
                        href="#">
                            Purchase Return
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        {% endwith %}

    {% comment %} -----------------   Reports Menu   ----------------- {% endcomment %}
        {% with request.resolver_match.url_name as url_name %}
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-between align-items-center
            {% if url_name == 'sales_report' or url_name == 'stock_list' %} active bg-primary {% endif %}"
            data-bs-toggle="collapse"
            href="#reportMenu"
            role="button"
            aria-expanded="{% if url_name == 'sales_report' or url_name == 'stock_list' %}true{% else %}false{% endif %}">
           
             <!-- Left Side (Icon + Text) -->
            <div class="d-flex align-items-center">
                <i class="bi bi-box me-2"></i>
                <span class="menu-text">Reports</span>
            </div>

            <!-- Right Side Chevron -->
            <i class="bi bi-chevron-down rotate-icon"></i>
            </a>    

            <div class="collapse {% if url_name == 'sales_report' or url_name == 'stock_list' %}show{% endif %}" id="reportMenu">
                <ul class="nav flex-column ms-3">
                    <li>
                        <a class="nav-link {% if url_name == 'sales_report' %}active text-info{% endif %}" href="#">
                            Sales Report
                        </a>
                    </li>
                    <li>
                        <a class="nav-link {% if url_name == 'stock_list' %}active text-info{% endif %}" href="{% url 'stock_list' %}">
                            Stock Report
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        {% endwith %}

        

    {% comment %} ------------------------   Product Settings Menu   ------------------------ {% endcomment %}
        {% with request.resolver_match.url_name as url_name %}
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-between align-items-center
                {% if url_name in 'product_create product_list category_create category_list' %} active bg-primary {% endif %}" 
                data-bs-toggle="collapse" 
                href="#productMenu" 
                aria-expanded="{% if url_name in 'product_create product_list category_create category_list' %}true{% else %}false{% endif %}">

                <!-- Left Side (Icon + Text) -->
                <div class="d-flex align-items-center">
                    <i class="bi bi-box"></i>
                    <span class="menu-text">Product Settings</span>
                </div>

                <!-- Right Side Chevron -->
                <i class="bi bi-chevron-down rotate-icon"></i>
            </a>

            <div class="collapse {% if url_name in 'product_create product_list category_create category_list' %}show{% endif %}" id="productMenu">
                <ul class="nav flex-column bg-dark ms-3">
                    <li><a class="nav-link {% if url_name == 'product' %}active text-info{% endif %}" href="{% url 'product' %}">Product List</a></li>
                    <li><a class="nav-link {% if url_name == 'category_list' %}active text-info{% endif %}" href="{% url 'category_list' %}">Category List</a></li>
                </ul>
            </div>
        </li>
        {% endwith %}

        


        {% with request.resolver_match.url_name as url_name %}
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-between align-items-center
                {% if url_name in 'supplier customer settings_list' %} active bg-primary {% endif %}"
                data-bs-toggle="collapse"
                href="#basicSettingsMenu"
                aria-expanded="{% if url_name in 'supplier customer settings_list' %}true{% else %}false{% endif %}">
                
                <!-- Left Side (Icon + Text) -->
                <div class="d-flex align-items-center">
                    <i class="bi bi-gear"></i>
                    <span class="menu-text">Basic Settings</span>
                </div>

                <!-- Right Side Chevron -->
                <i class="bi bi-chevron-down rotate-icon"></i>
            </a>

            <div class="collapse {% if url_name in 'supplier customer settings_list' %}show{% endif %}" id="basicSettingsMenu">
                <ul class="nav flex-column bg-dark ms-3">
                    <li>
                        <a class="nav-link {% if url_name == 'supplier' %}active text-info{% endif %}"
                        href="{% url 'supplier' %}">
                            Supplier List
                        </a>
                    </li>
                    <li>
                        <a class="nav-link {% if url_name == 'customer' %}active text-info{% endif %}"
                        href="{% url 'customer' %}">
                            Customer List
                        </a>
                    </li>
                    <li>
                        <a class="nav-link {% if url_name == 'settings_list' %}active text-info{% endif %}"
                        href="{% url 'settings_list' %}">
                            Settings
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        {% endwith %}

        {% with request.resolver_match.url_name as url_name %}
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-between align-items-center
                {% if url_name in 'user_list role_list permission_list' %} active bg-primary {% endif %}"
                data-bs-toggle="collapse"
                href="#userSettingsMenu"
                aria-expanded="{% if url_name in 'user_list role_list permission_list' %}true{% else %}false{% endif %}">
                
                <!-- Left Side (Icon + Text) -->
                <div class="d-flex align-items-center">
                    <i class="bi bi-bar-chart"></i>
                    <span class="menu-text">User Settings</span>
                </div>

                <!-- Right Side Chevron -->
                <i class="bi bi-chevron-down rotate-icon"></i>
            </a>

            <div class="collapse {% if url_name in 'user_list role_list permission_list' %}show{% endif %}" id="userSettingsMenu">
                <ul class="nav flex-column bg-dark ms-3">
                    <li>
                        <a class="nav-link {% if url_name == 'user_list' %}active text-info{% endif %}"
                        href="{% url 'user_list' %}">
                            User List
                        </a>
                    </li>
                    <li>
                        <a class="nav-link {% if url_name == 'role_list' %}active text-info{% endif %}"
                        href="{% url 'role_list' %}">
                            Role Assign
                        </a>
                    </li>
                    <li>
                        <a class="nav-link {% if url_name == 'permission_list' %}active text-info{% endif %}"
                        href="{% url 'permission_list' %}">
                            Permissions
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        {% endwith %}
    </ul>  
    
</div>



