
{% load static %}

<style>
    .rotate-icon {
        transition: transform 0.3s ease;
    }

    /* Rotate icon when aria-expanded=true */
    a[aria-expanded="true"] .rotate-icon {
        transform: rotate(180deg);
    }
</style>

<div class="sidebar" id="sidebar">
    <ul class="nav flex-column">
        <div class="brand">
            <a href="#">
                <i class="bi bi-cart4"></i>
                <span>e-commerce</span>
            </a>
        </div>

        <div class="search-box">
            <input type="text" placeholder="Search...">
        </div>

        <a href="{% url 'admin_dashboard' %}">
            <i class="bi bi-speedometer2"></i>
            <span>Dashboard</span>
        </a>



        <a href="{% url 'admin_order_list' %}">
            <i class="bi bi-cart"></i>
            <span>Orders</span>
        </a>
        
        {% with request.resolver_match.url_name as url_name %}
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-between align-items-center
                {% if url_name in 'purchase_create purchase_list purchase_return' %} active bg-primary {% endif %}" 
                data-bs-toggle="collapse" 
                href="#purchaseMenu" 
                aria-expanded="{% if url_name in 'purchase_create purchase_list purchase_return' %}true{% else %}false{% endif %}">
                
                <span>
                    <i class="bi bi-bar-chart"></i>
                    Purchase
                </span>
                <i class="bi bi-chevron-down rotate-icon"></i>
            </a>

            <div class="collapse {% if url_name in 'purchase_create purchase_list purchase_return' %}show{% endif %}" id="purchaseMenu">
                <ul class="nav flex-column bg-dark ms-3">
                    <li>
                        <a class="nav-link {% if url_name == 'purchase_list' %}active text-info{% endif %}" 
                        href="{% url 'purchase_list' %}">
                            Purchase List
                        </a>
                    </li> 
                    <li>
                        <a class="nav-link {% if url_name == 'purchase_return' %}active text-info{% endif %}" 
                        href="#">
                            Purchase Return
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        {% endwith %}

    {% comment %} -----------------   Reports Menu   ----------------- {% endcomment %}
        {% with request.resolver_match.url_name as url_name %}
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-between align-items-center
            {% if url_name == 'sales_report' or url_name == 'stock_list' %} active bg-primary {% endif %}"
            data-bs-toggle="collapse"
            href="#reportMenu"
            role="button"
            aria-expanded="{% if url_name == 'sales_report' or url_name == 'stock_list' %}true{% else %}false{% endif %}">
            <span><i class="bi bi-box me-2"></i> Reports</span>
            <i class="bi bi-chevron-down rotate-icon"></i>
            </a>

            <div class="collapse {% if url_name == 'sales_report' or url_name == 'stock_list' %}show{% endif %}" id="reportMenu">
                <ul class="nav flex-column ms-3">
                    <li>
                        <a class="nav-link {% if url_name == 'sales_report' %}active text-info{% endif %}" href="#">
                            Sales Report
                        </a>
                    </li>
                    <li>
                        <a class="nav-link {% if url_name == 'stock_list' %}active text-info{% endif %}" href="{% url 'stock_list' %}">
                            Stock Report
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        {% endwith %}

        

    {% comment %} ------------------------   Product Settings Menu   ------------------------ {% endcomment %}
        {% with request.resolver_match.url_name as url_name %}
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-between align-items-center
                {% if url_name in 'product_create product_list category_create category_list' %} active bg-primary {% endif %}" 
                data-bs-toggle="collapse" 
                href="#productMenu" 
                aria-expanded="{% if url_name in 'product_create product_list category_create category_list' %}true{% else %}false{% endif %}">
                <span><i class="bi bi-box"></i> Product Settings</span>
                <i class="bi bi-chevron-down rotate-icon"></i>
            </a>

            <div class="collapse {% if url_name in 'product_create product_list category_create category_list' %}show{% endif %}" id="productMenu">
                <ul class="nav flex-column bg-dark ms-3">
                    <li><a class="nav-link {% if url_name == 'product' %}active text-info{% endif %}" href="{% url 'product' %}">Product List</a></li>
                    <li><a class="nav-link {% if url_name == 'category_list' %}active text-info{% endif %}" href="{% url 'category_list' %}">Category List</a></li>
                </ul>
            </div>
        </li>
        {% endwith %}

        


        {% with request.resolver_match.url_name as url_name %}
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-between align-items-center
                {% if url_name in 'supplier customer settings_list' %} active bg-primary {% endif %}"
                data-bs-toggle="collapse"
                href="#basicSettingsMenu"
                aria-expanded="{% if url_name in 'supplier customer settings_list' %}true{% else %}false{% endif %}">
                
                <span>
                    <i class="bi bi-gear"></i>
                    Basic Settings
                </span>
                <i class="bi bi-chevron-down rotate-icon"></i>
            </a>

            <div class="collapse {% if url_name in 'supplier customer settings_list' %}show{% endif %}" id="basicSettingsMenu">
                <ul class="nav flex-column bg-dark ms-3">
                    <li>
                        <a class="nav-link {% if url_name == 'supplier' %}active text-info{% endif %}"
                        href="{% url 'supplier' %}">
                            Supplier List
                        </a>
                    </li>
                    <li>
                        <a class="nav-link {% if url_name == 'customer' %}active text-info{% endif %}"
                        href="{% url 'customer' %}">
                            Customer List
                        </a>
                    </li>
                    <li>
                        <a class="nav-link {% if url_name == 'settings_list' %}active text-info{% endif %}"
                        href="{% url 'settings_list' %}">
                            Settings
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        {% endwith %}

        <li class="nav-item">
            <a href="#userSettingsMenu" data-bs-toggle="collapse" class="nav-link d-flex justify-content-between align-items-center">
                <span>
                    <i class="bi bi-bar-chart"></i>
                    User Settings
                </span>
                <i class="bi bi-chevron-down"></i>
            </a>
            <ul class="collapse list-unstyled ms-3" id="userSettingsMenu">
                <li>
                    <a href="#" class="nav-link">
                        User List
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        Role Assign
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        Permissions
                    </a>
                </li>
            </ul>
        </li>
    </ul>  
    
</div>



