
{% load static %}

 
<!-- Topbar -->
<div class="topbar" id="topbar">
    <button class="btn btn-light me-3" id="toggleBtn">
        <i class="bi bi-list"></i>
    </button>

    <div class="ms-auto dropdown">

        {% if request.user.profile.image %}
            <img src="{{ request.user.profile.image.url }}"
                 class="rounded-circle dropdown-toggle"
                 id="profileDropdown"
                 data-bs-toggle="dropdown"
                 width="40"
                 height="40"
                 style="object-fit: cover; cursor: pointer;">
        {% else %}
            <i class="bi bi-person-circle dropdown-toggle"
               id="profileDropdown"
               data-bs-toggle="dropdown"
               style="font-size: 1.8rem; cursor: pointer;"></i>
        {% endif %}

        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
            <li>
                <a class="dropdown-item text-center" href="{% url 'admin_profile' %}">
                    Profile
                </a>
            </li>
            <li>
                <a class="dropdown-item text-center"
                   onclick="return confirm('Are you sure you want to logout?');"
                   href="{% url 'admin_login' %}">
                    Logout
                </a>
            </li>
        </ul>
    </div>
</div>


