
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Dashboard</title>  

 
{% include "admin/css.html" %}
  {% include 'navbar/svg.html' %}
</head>
<body>

  {% include 'admin/sidebar.html' %}
  {% include 'admin/topbar.html' %}
<!-- Content -->
<div class="content" id="content">
    {% block content %}{% endblock %}
</div>

{% include 'link/js.html' %}

<script>
document.getElementById("toggleBtn").addEventListener("click", function() {
    document.getElementById("sidebar").classList.toggle("collapsed");
    document.getElementById("topbar").classList.toggle("collapsed");
    document.getElementById("content").classList.toggle("collapsed");
});
</script>
</body>
</html>