{% extends 'base.html' %}
{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="text m-3">
    <a href="{% url 'admin_dashboard' %}" style="text-decoration: none; color: #6e6e6e;"><b> Dashboard</b></a>
     / 
    <span style="color: #39a5b8;"><b>{% if product %}Product Update{% else %}Stock List{% endif %}</b></span>
</div>

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Stock List</h5>
        </div>

        <div class="card-body">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Suppliers</th>  
                        <th>Product</th>
                        <th>Category</th>
                        <th>Current Stock</th>
                    </tr>
                </thead>
                <tbody>

                    {% for item in stock_data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <!-- Supplier Breakdown -->
                        <td>
                            {% for sup in item.suppliers %}
                                <div>
                                    {{ sup.purchase__supplier__name }}
                                </div>
                            {% empty %}
                                <span class="text-muted">No Supplier</span>
                            {% endfor %}
                        </td>
                        <td>{{ item.stock.product.name }}</td>
                        <td>{{ item.stock.product.category.name }}</td>
                        <td>
                            {% if item.stock.quantity <= 5 %}
                                <span class="badge bg-danger">
                                    {{ item.stock.quantity }}
                                </span>
                            {% elif item.stock.quantity <= 10 %}
                                <span class="badge bg-warning text-dark">
                                    {{ item.stock.quantity }}
                                </span>
                            {% else %}
                                <span class="badge bg-primary">
                                    {{ item.stock.quantity }}
                                </span>
                            {% endif %}
                        </td>

                        

                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center text-muted">
                            No stock available
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}