
{% load static %}
<section class="py-3">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="banner-blocks">
          <div class="banner-ads large bg-info block-1">
            <div class="swiper main-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="row banner-content p-5">
                    <div class="content-wrapper col-md-7">
                      <div class="categories my-3"></div>
                      <h3 class="display-4">iPhone 17 Pro Max</h3>
                      <p>iPhone 17 Pro Max Global [Physical Sim + E-Sim] With 1 Year Apple International Warranty.</p>
                      <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1 px-4 py-3 mt-3">Shop Now</a>
                    </div>
                    <div class="img-wrapper col-md-5">
                      <img src="{% static 'images/iphone17pro.png' %}" class="img-fluid">
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="row banner-content p-5">
                    <div class="content-wrapper col-md-7">
                      <div class="categories mb-3 pb-3"></div>
                      <h3 class="banner-title">Fresh Fruits</h3>
                      <p>High fiber and water content aid digestion and weight management. They reduce chronic disease risks and support immune function.</p>
                      <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">Shop Collection</a>
                    </div>
                    <div class="img-wrapper col-md-5">
                      <img src="{% static 'images/fruits.png' %}" class="img-fluid">
                    </div>
                  </div>
                </div>
                
                <div class="swiper-slide">
                  <div class="row banner-content p-5">
                    <div class="content-wrapper col-md-7">
                      <div class="categories mb-3 pb-3"></div>
                      <h3 class="banner-title">Heinz Tomato Ketchup</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa diam elementum.</p>
                      <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">Shop Collection</a>
                    </div>
                    <div class="img-wrapper col-md-5">
                      <img src="{% static 'images/product-thumb-2.png' %}" class="img-fluid">
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="swiper-pagination"></div>

            </div>
          </div>
          
          <div class="banner-ads bg-success-subtle block-2">
            <div class="row banner-content p-5">

              <div class="content-wrapper col-md-7">
                <div class="categories sale mb-3 pb-3">20% off</div>
                <h3 class="banner-title">Fruits & Vegetables</h3>
                <a href="#" class="d-flex align-items-center nav-link">Shop Collection <svg width="24" height="24"><use xlink:href="#arrow-right"></use></svg></a>
              </div>

            </div>
          </div>

          <div class="banner-ads bg-danger block-3">
            <div class="row banner-content p-5">

              <div class="content-wrapper col-md-7">
                <div class="categories sale mb-3 pb-3">15% off</div>
                <h3 class="item-title">Electronic Products</h3>
                <a href="#" class="d-flex align-items-center nav-link">Shop Collection <svg width="24" height="24"><use xlink:href="#arrow-right"></use></svg></a>
              </div>

            </div>
          </div>

        </div>
        <!-- / Banner Blocks -->
          
      </div>
    </div>
  </div>
</section>