{% load static %}
<!-- <style>
  .footer{
    padding-left: 120px;
}
</style> -->


    <footer id="footer" class="footer mb-2">
      <div class="container-fluid footer">
        <div class="row p-4 text-white" style="background-color: rgb(47, 47, 47);">
          <div class="col-md-4 col-sm-6">
            <div class="footer-menu">
              <h5 class="widget-title">Ultras</h5>
              <ul class="menu-list list-unstyled">
                <li class="menu-item">
                  <a href="{% url 'about' %}" class="nav-link">About us</a>
                </li>
                <li class="menu-item">
                  <a href="#" class="nav-link">Conditions </a>
                </li>
              </ul>
            </div>
          </div>
          
          <div class="col-md-4 col-sm-6">
            <div class="footer-menu">
              <h5 class="widget-title">Customer Service</h5>
              <ul class="menu-list list-unstyled">
                <li class="menu-item">
                  <a href="{% url 'faq' %}" class="nav-link">FAQ</a>
                </li>
                <li class="menu-item">
                  <a href="{% url 'contact' %}" class="nav-link">Contact</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="footer-menu">
              <h5 class="widget-title">Subscribe Us</h5>
              <p>Subscribe to our newsletter to get updates about our grand offers.</p>
              <form class="d-flex mt-3 gap-0" role="newsletter">
                <input class="form-control rounded-start rounded-0 bg-light" type="email" placeholder="Email Address" aria-label="Email Address">
                <button class="btn btn-dark rounded-end rounded-0" type="submit">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center p-1" style="background-color: rgb(22, 22, 22);">
        <p class="text-center text-white">© 2026 All rights reserved.</p>
      </div>
    </footer>
      

    